<!DOCTYPE html>
<html>
    <head>
        <!--Header-->
	    <%- include('../partials/header.ejs')%>
        
        <link rel="stylesheet" href="/css/style.css">
    </head>

    <p>This is Calendar</p>
</html>