<!DOCTYPE html>
<html>
    <head>
        <!--Header-->
	    <%- include('../partials/header-admin.ejs')%>

        <link rel="stylesheet" href="/css/style.css">

        <style>
            form{
                width: 900px;
                padding-left: 4%;
                padding-right: 4%;
                padding-top: 3%;
                padding-bottom: 2%;
            }
        </style>
    </head>
    <body>
    <form>

        <div class="form-row">

            <!--Subject Dropdown Menu-->
            <div class="form-group col-md-8">
                <select id="inputSubject" class="form-control">
                    <option selected>Subject...</option>
                    <option>Chemistry</option>
                    <option>Computer Science</option>
                    <option>Communication</option>
                    <option>History</option>
                </select>
                <!--Allow multiple selection?-->
            </div>

            <!--Course ID Text Box-->
            <div class="form-group col-md-4">
                <input type="text" class="form-control" id="inputID" placeholder="Course ID">
                <!--Maybe have hover over note for fields to help student with format-->
            </div>
        </div>

        <div class="form-row">

            <!--Pathway Dropdown Menu-->
            <div class="form-group col-md-3">
                <select id="inputPathway" class="form-control">
                    <option selected>Pathway...</option>
                    <option>GA</option>
                    <option>FL</option>
                    <option>WC</option>
                    <option>OVC</option>
                </select>
            </div>

            <!--Credit Dropdown Menu-->
            <div class="form-group col-md-2">
                <select id="inputHour" class="form-control">
                    <option selected>Hours...</option>
                    <option>1.00</option>
                    <option>2.00</option>
                    <option>3.00</option>
                    <option>4.00</option>
                </select>
            </div>

            <!--Time Dropdown Menu-->
            <div class="form-group col-md-2">
                <select id="inputTime" class="form-control">
                    <option selected>Time...</option>
                    <option>8:30am</option>
                    <option>9:30am</option>
                    <option>10:30am</option>
                    <option>11:30am</option>
                    <!--functionality where if you choose certain days, different time options-->
                </select>
            </div>


            <!--Weekday Selection Checkboxes-->
			<div class="form-group col-md-5">
				<label class="checkbox-inline">
					<input type="checkbox" value="">
					Mo
				</label>
				<label class="checkbox-inline"> 
					<input type="checkbox" value="">
					Tu
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" value="">
					We
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" value="">
					Th
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" value="">
					Fr
				</label>
			</div> 

            <!--Search Button-->
			<!-- <div class="form-group col-md-12">
				<button type="submit" class="btn btn-primary">Find</button>
			</div> -->

        </div>
    </form>

    <!--Add/Help Button-->
	<%- include('../partials/help-button.ejs')%>

    </body>
</html>