<!DOCTYPE html>
<html>
<head>

	<!--Header-->
	<%- include('../partials/header.ejs')%>

	<title>Class Registration Form</title>

	<link rel="stylesheet" href="/css/style.css">

	<style>
		form{
  			padding-left: 5%;
			padding-right: 5%;
		}

	</style>

</head>
<body>
	
	<form role="form" class="form-horizontal" action="/add-classes" method="POST">
			
		<!--Add Class Title-->
		<div class="form-group">
			<h1> Add Course </h1>
		</div>

		<!--Class Name Text Box-->
		<div class="form-group">
			<input type="text" class="form-control" name="className" placeholder="Course Name" required>
		</div>

		<!-- Teacher Dropdown Menu
		<div class="form-group">
			<select id="inputTeacher" name="teacher" class="form-control">
				<option selected>Teacher...</option>
				<option>Britton Horn</option>
				<option>Matthew Hibbs</option>
				<option>Paul Myers</option>
			</select>
		</div> -->

		<!--Department Dropdown Menu-->
		<div class="form-group">
			<select id="inputDepartment" name="department" class="form-control">
				<option value="" disabled selected>Select a department</option>
				<option value="Art and Art History">Art and Art History</option>
				<option value="Biology">Biology</option>
				<option value="Chemistry">Chemistry</option>
				<option value="Classical Studies">Classical Studies</option>
				<option value="Communication">Communication</option>
				<option value="Computer Science">Computer Science</option>
				<option value="Economics">Economics</option>
				<option value="Education">Education</option>
				<option value="Engineering Science">Engineering Science</option>
				<option value="English">English</option>
				<option value="Geosciences">Geosciences</option>
				<option value="Health Care Administration">Health Care Administration</option>
				<option value="History">History</option>
				<option value="Human Communication and Theatre">Human Communication and Theatre</option>
				<option value="Mathematics">Mathematics</option>
				<option value="Modern Languages and Literatures">Modern Languages and Literatures</option>
				<option value="Music">Music</option>
				<option value="Philosophy">Philosophy</option>
				<option value="Physics and Astronomy">Physics and Astronomy</option>
				<option value="Political Science">Political Science</option>
				<option value="Psychology">Psychology</option>
				<option value="Religion">Religion</option>
				<option value="Sociology and Anthropology">Sociology and Anthropology</option>
			</select>
		</div>

			<!-- Location Dropdown Menu
			<div class="form-group col-md-4">
				<select id="inputLocation" class="form-control">
					<option selected>Location...</option>
					<option>CSI</option>
					<option>Hasell</option>
					<option>Dicke Hall</option>
				</select>
			</div> -->
		<div class="form-group">
			<div class="form-row" style="white-space: nowrap;">
				<legend>Class schedule:</legend>
				<div class="day">
					<label for="monday">Monday:</label>
					<input type="checkbox" id="monday" name="schedule[0][day]" value="M">
					<input type="time" id="mondayStart" name="schedule[0][startTime]">
					<input type="time" id="mondayEnd" name="schedule[0][endTime]">
				</div>
				
				<div class="day">
					<label for="tuesday">Tuesday:</label>
					<input type="checkbox" id="tuesday" name="schedule[1][day]" value="T">
					<input type="time" id="tuesdayStart" name="schedule[1][startTime]">
					<input type="time" id="tuesdayEnd" name="schedule[1][endTime]">
				</div>
				
				<div class="day">
					<label for="wednesday">Wednesday:</label>
					<input type="checkbox" id="wednesday" name="schedule[2][day]" value="W">
					<input type="time" id="wednesdayStart" name="schedule[2][startTime]">
					<input type="time" id="wednesdayEnd" name="schedule[2][endTime]">
				</div>
				
				<div class="day">
					<label for="thursday">Thursday:</label>
					<input type="checkbox" id="thursday" name="schedule[3][day]" value="Th">
					<input type="time" id="thursdayStart" name="schedule[3][startTime]">
					<input type="time" id="thursdayEnd" name="schedule[3][endTime]">
				</div>
				
				<div class="day">
					<label for="friday">Friday:</label>
					<input type="checkbox" id="friday" name="schedule[4][day]" value="F">
					<input type="time" id="fridayStart" name="schedule[4][startTime]">
					<input type="time" id="fridayEnd" name="schedule[4][endTime]">
				</div>
				
				<div class="day">
					<label for="saturday">Saturday:</label>
					<input type="checkbox" id="saturday" name="schedule[5][day]" value="Sa">
					<input type="time" id="saturdayStart" name="schedule[5][startTime]">
					<input type="time" id="saturdayEnd" name="schedule[5][endTime]">
				</div>
				
				<div class="day">
					<label for="sunday">Sunday:</label>
					<input type="checkbox" id="sunday" name="schedule[6][day]" value="Su">
					<input type="time" id="sundayStart" name="schedule[6][startTime]">
					<input type="time" id="sundayEnd" name="schedule[6][endTime]">
				</div>
			</div>
		</div>
		
		<!-- <div class="form-row">
			Credits Dropdown Menu-->
			<!-- <div class="form-group col-md-4">
				<select id="inputHour" class="form-control">
					<option selected>Credits...</option>
					<option>1.00</option>
					<option>2.00</option>
					<option>3.00</option>
					<option>4.00</option>
				</select>
			</div> 
		</div> -->

		<!--Class ID Text Box-->
		<div class="form-group">
			<input type="number" class="form-control" name="classID" placeholder="Course ID" required>
			<!--put restrictions on how long input ID can be?-->
		</div>

		<!--Pathways Selection Checkboxes-->
		<div class="form-group">
			<div class="form-row">
				<div class="col-xs-3" style="white-space:nowrap;">
					<input type="checkbox" name="pathways[]" id="pathwaysWC" value="WC">
					<label for="pathwaysWC">WC</label>
				</div>
				<div class="col-xs-3" style="white-space:nowrap;">
					<input type="checkbox" name="pathways[]" id="pathwaysOVC" value="OVC">
					<label for="pathwaysOVC">OVC</label>
				</div>
				<div class="col-xs-3" style="display: inline-block;">
					<input type="checkbox" name="pathways[]" id="pathwaysHP" value="HP">
					<label for="pathwaysHP">HP</label>
				</div>
				<div class="col-xs-3" style="display: inline-block;">
					<input type="checkbox" name="pathways[]" id="pathwaysUD" value="UD">
					<label for="pathwaysUD">UD</label>
				</div>
			</div>
			<div class="form-row">
				<div class="col-xs-3" style="display: inline-block;">
					<input type="checkbox" name="pathways[]" id="pathwaysFL" value="FL">
					<label for="pathwaysFL">FL</label>
				</div>
				<div class="col-xs-3" style="display: inline-block;">
					<input type="checkbox" name="pathways[]" id="pathwaysGA" value="GA">
					<label for="pathwaysGA">GA</label>
				</div>
				<div class="col-xs-3" style="display: inline-block;">
					<input type="checkbox" name="pathways[]" id="pathwaysDL" value="DL">
					<label for="pathwaysDL">DL</label>
				</div>
				<div class="col-xs-3" style="display: inline-block;">
					<input type="checkbox" name="pathways[]" id="pathwaysNS" value="NS">
					<label for="pathwaysNS">NS</label>
				</div>
			</div>
		</div>

		<!--Description Text Box-->
		<div class="form-group">
			<textarea class="form-control" id="comment" name="description" rows="5" placeholder="Short description for new class..."></textarea>	
		</div>

		<!--Submit Button-->
		<div class="form-group">
			<button type="submit" class="btn btn-primary">Add Class</button>
		</div>
	</form>
</body>
</html>