<!DOCTYPE html>
<html>
<head>

	<!--Header-->
	<%- include('../partials/header.ejs')%>

	<title>Class Registration Form</title>

	<link rel="stylesheet" href="/css/style.css">

	<style>
		form{
  			padding-left: 5%;
			padding-right: 5%;
		}

	</style>

</head>
<body>
	
	<form action="/add-class" method="POST">
			
			<!--Add Class Title-->
			<div class="form-group">
				<h1> Add Course </h1>
			</div>

			<!--Class Name Text Box-->
			<div class="form-group">
                <input type="text" class="form-control" name="className" placeholder="Course Name" required>
			</div>

			<!--Teacher Dropdown Menu-->
			<div class="form-group">
                <select id="inputTeacher" name="teacher" class="form-control">
                    <option selected>Teacher...</option>
                    <option>Britton Horn</option>
                    <option>Matthew Hibbs</option>
                    <option>Paul Myers</option>
                </select>
			</div>

			<div class="form-row">

				<!--Department Dropdown Menu-->
				<div class="form-group col-md-8">
					<select id="inputDepartment" name="department" class="form-control">
						<option selected>Department...</option>
						<option>Computer Science</option>
						<option>Communication</option>
						<option>Chemistry</option>
					</select>
				</div>

				<!--Location Dropdown Menu-->
				<div class="form-group col-md-4">
					<select id="inputLocation" class="form-control">
						<option selected>Location...</option>
						<option>CSI</option>
						<option>Hasell</option>
						<option>Dicke Hall</option>
					</select>
				<!--Include room number yet?-->
				</div>

			</div>

			<div class="form-row">

				<!--Class Start Time Text Box-->
				<div class="form-group col-md-5">
					<input type="time" class="form-control" name="schedule[startTime]" id="inputStartTime" placeholder="Time">
				</div>

				<div class="form-group col-md-2">
					<h6>to</h6>
				</div>

				<!--Class End Time Text Box-->
				<div class="form-group col-md-5">
					<input type="time" class="form-control" name="schedule[endTime]" id="inputEndTime" placeholder="Time">
				</div>

			</div>

			<!--Weekday Selection Checkboxes-->
			<div class="form-group">
				<label class="checkbox-inline">
					<input type="checkbox" name="schedule[1][day]" value="">
					Mo
				</label>
				<label class="checkbox-inline"> 
					<input type="checkbox" name="schedule[2][day]" value="">
					Tu
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" name="schedule[3][day]" value="">
					We
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" name="schedule[4][day]" value="">
					Th
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" name="schedule[5][day]" value="">
					Fr
				</label>
			</div> 

			<div class="form-row">

				<!--Credits Dropdown Menu-->
				<div class="form-group col-md-4">
					<select id="inputHour" class="form-control">
						<option selected>Credits...</option>
						<option>1.00</option>
						<option>2.00</option>
						<option>3.00</option>
						<option>4.00</option>
					</select>
				</div>

				<!--Class ID Text Box-->
				<div class="form-group col-md-8">
					<input type="number" class="form-control" name="classID" placeholder="Course ID" required><br>	
					<!--put restrictions on how long input ID can be?-->
				</div>

			</div>

			<!--Pathways Selection Checkboxes-->
			<div class="form-group">
				<label class="checkbox-inline">
					<input type="checkbox" name="pathways" value=""> WC
				</label>
				<label class="checkbox-inline"> 
					<input type="checkbox" name="pathways" value=""> OVC
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" name="pathways" value=""> HP
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" name="pathways" value=""> UD
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" name="pathways" value=""> FL
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" name="pathways" value=""> GA
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" name="pathways" value=""> DL
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" name="pathways" value=""> NS
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" name="pathways" value=""> PE
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" name="pathways" value=""> FYE
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" name="pathways" value=""> CE
				</label>
				<label class="checkbox-inline">
					<input type="checkbox" name="pathways" value=""> QR
				</label>
			</div> 

			<!--Description Text Box-->
			<div class="form-group">
            	<textarea class="form-control" id="comment" name="description" rows="5" placeholder="Short description for new class..."></textarea>	
			</div>

			<!--Submit Button-->
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Add Class</button>
			</div>
	</form>
</body>
</html>