<!DOCTYPE html>
<html>
<head>
	
	<!--Header-->
	<%- include('../partials/header-admin.ejs')%>
	
	<title>User Registration Form</title>

	<link rel="stylesheet" href="/css/style.css">

	<style>
		form{	
			width: 425px;
			padding-left: 5%;
			padding-right: 5%;
			padding-bottom: 4%;
		}
	</style>

</head>
<body>
	
	<form action="/create-user" method="POST">
			
			<!--Add User Title-->
			<div class="form-group">
				<h1> Add User </h1>
			</div>

			<!--Name Text Box-->
			<div class="form-group">
                <input type="text" class="form-control" name="name" placeholder="Full Name" required>
			</div>

			<!--User ID Text Box-->
			<div class="form-group">
            	<input type="number" class="form-control" name="ID" placeholder="User ID" required>	
				<!--put restrictions on how long input ID can be?-->
			</div>

			<!--Status Dropdown Menu-->
			<div class="form-group">
                <select name="role" class="form-control" required>
                    <option selected>Status...</option>
                    <option value="admin">Admin</option>
                    <option value="teacher">Teacher</option>
                    <option value="student">Student</option>
                </select>
			</div>

			<!--Email Text Box-->
			<div class="form-group">
            	<input type="text" class="form-control" name="email" placeholder="Email" required>	
			</div>

			<!--Password Text Box-->
			<div class="form-group">
            	<input type="password" class="form-control" name="password" placeholder="Password">	
				<!--randmonly generate password?-->
			</div>

			<!--Submit Button-->
			<div class="form-group">
				<button type="submit" class="btn btn-primary">Add User</button>
			</div>
	</form>

	<!--Add/Help Button-->
	<%- include('../partials/help-button.ejs')%>
	
</body>
</html>