<head>
    <!--Header-->
    <%- include('../partials/header.ejs')%>
</head>
<h1>Admin Dashboard</h1>
<h1>Hello, <%= user.name %>!</h1>
<div>
    <a href="/admin/create-user">Create User</a>
</div>
<div>
    <a href="/admin/create-class">Create Class</a>
</div>
