<% for (var i=0; i < classes.length; i++) { %>
<div class="row">
    <div class="vertical-center w-75" style="border:2px solid black;">
        <div class="row">
            <div class="col-md-8">
                <h3>
                    <%= classes[i].subject.className %>
                </h3>
            </div>
            <div class="col-md-4">
                <p>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                </p>
            </div>
            <div class="col-md-4">
                <p>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                    
                <button type="button" class="btn btn-lg btn-block btn-primary">
                    Button
                </button>
            </div>
            <div class="col-md-6">
                    
                <button type="button" class="btn btn-lg btn-block btn-secondary">
                    Button
                </button>
            </div>
        </div>
    </div>
</div>
<% } %>