<!-- Main Admin Layout-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Default Admin Page
    </title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">
    <link rel="stylesheet" href="styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
		.btn-primary{
			width: 250px;
			border-radius: 25px 25px 25px 25px;
			background-color: #fbc831;
			-webkit-text-fill-color: rgb(255, 255, 255);
			/*box-shadow: 0px 1px 1px 1px #c3c3c3;*/
		}

        body {
            background-image: url('/imgs/leeroy-cardiac-hill-jpg');
        }
	</style>
</head>
<body>



    <div class="wrapper">
            
        <!--Body-->
            <%- body %>

        <!--Footer-->
        <%- include('../partials/footer.ejs')%>
    </div>

    <!--Help Button-->
    
    <!--<%- include('../partials/help-button.ejs')%>-->
</body>
</html>