<header>
    <div class="fixed-header">
        <nav>
            <a class="logo" href="/admin/dashboard">
                <img src = "/imgs/nexuslogo.png" alt="" height="40" width="40">
            </a>
            <a href="/student/classes">My Classes</a>
            <a href="/student/search">Classes</a>
            <a href="/student/registration">Calendar</a>
        </nav>
    </div>
</header>