<header>
    <div class="fixed-header">
        <nav>
            <a class="logo" href="/admin/dashboard">
                <img src = "/imgs/nexuslogo.png" alt="" height="40" width="40">
            </a>
            <a href="/teacher/students">My Classes</a>
            <a href="/teacher/classes">Classes</a>
            <a href="/teacher/calendar">Calendar</a>
        </nav>
    </div>
</header>