<!DOCTYPE html>
<html>
    <head>
        <!--Header-->
	    <%- include('../partials/teacher_header.ejs')%>

        <link rel="stylesheet" href="/css/style.css">
        
    </head>

    <body>
        <p>This is Teacher's Classes</p>

        <!--Add/Help Button-->
	    <%- include('../partials/help-button.ejs')%>

    </body>
</html>