<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href= "/css/main.css"/>
</head>

<td></td><div class="calendar">
  
    <header>
        <div class="calendar__title" style="display: flex; justify-content: center; align-items: center">
        </div> 
        <div style="align-self: flex-start; flex: 0 0 1"></div>
    </header>
    
    <div class="outer">
  
    
    <table>
    <thead>
      <tr>
        <th class="headcol"></th>
        <th>Mon</th>
        <th>Tue</th>
        <th class="today">Wed</th>
        <th>Thu</th>
        <th>Fri</th>
      </tr>
    </thead>
    </table>
  
  <div class="wrap"> 
    <table class="offset">
  
    <tbody>
      <tr>
        <td class="headcol"></td>
        <td></td>
        <td></td>
        <td class="past"></td>
        <td></td>
        <td></td>
        
        
      </tr>
      <tr>
        <td class="headcol">6:00</td>
        <td></td>
        <td></td>
        <td class="past"></td>
        <td></td>
        <td></td>
      
      </tr>
      <tr>
        <td class="headcol"></td>
        <td></td>
        <td></td>
        <td class="past"></td>
        <td></td>
        <td></td>
        
      </tr>
      <tr>
        <td class="headcol">7:00</td>
        <td></td>
        <td></td>
        <td class="past"></td>
        <td></td>
        <td></td>
        
      </tr>
      <tr>
        <td class="headcol"></td>
        <td></td>
        <td></td>
        <td class="now"></td>
        <td></td>
        <td></td>
        
      </tr>
      <tr>
        <td class="headcol">8:00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
       
      </tr>
      <tr>
        <td class="headcol"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td><div class="event double"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>8:30–9:30 Yoga</div></td>
        
      </tr>
      <tr>
        <td class="headcol">9:00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        
      </tr>
      <tr>
        <td class="headcol"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        
      </tr>
      <tr>
        <td class="headcol">10:00</td>
        <td></td>
        <td></td>
        <td><div class="event double"><input id="check" type="checkbox" class="checkbox" /><label for="check"></label>10:00–11:00 Meeting</div></td>
        <td></td>
        <td></td>
       
      </tr>
      <tr>
        <td class="headcol"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
       
      </tr>
      <tr>
        <td class="headcol">11:00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      
      </tr>
      <tr>
        <td class="headcol"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
       
      </tr>
      <tr>
        <td class="headcol">12:00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
       
      </tr>
      <tr>
        <td class="headcol"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      
      </tr>
      <tr>
        <td class="headcol">13:00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
     
      </tr>
      <tr>
        <td class="headcol"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        
      </tr>
      <tr>
        <td class="headcol">14:00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
       
      </tr>
      <tr>
        <td class="headcol"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        
      </tr>
      <tr>
        <td class="headcol">15:00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        
      </tr>
      <tr>
        <td class="headcol"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
       
      </tr>
      <tr>
        <td class="headcol">16:00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        
      </tr>
      <tr>
        <td class="headcol"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        
      </tr>
      <tr>
        <td class="headcol">17:00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        
      </tr>
      <tr>
        <td class="headcol"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      
      </tr>
      <tr>
        <td class="headcol">18:00</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        
      </tr>
      <tr>
        <td class="headcol"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        
      </tr>
    </tbody>
  </table>
  </div>
  </div>
  </div>