<!DOCTYPE html>
<html>
    <head>
        <!--Header-->
	    <%- include('../partials/headers/header-student.ejs')%>
        
        <link rel="stylesheet" href="/css/style.css">

    </head>

    <body>
        <p>This is Student Dashboard</p>

        <div>
            <a href="/student/wishlist">Wishlist</a>
        </div>

        <!--Add/Help Button-->
	    <%- include('../partials/help-button.ejs')%>

    </body>
</html>