<!DOCTYPE html>
<html>
    <head>
        <!--Header-->
	    <%- include('../partials/headers/header-student.ejs')%>

        <link rel="stylesheet" href="/css/style.css">

    </head>

    <body>
        <p>This is Registration for Student</p>

        <!--Add/Help Button-->
	    <%- include('../partials/help-button.ejs')%>

    </body>
</html>