<!DOCTYPE html>
<html>

    <head>
        <!--Header-->
        <%- include('../partials/header-student.ejs')%>

        <link rel="stylesheet" href="/css/style.css">

    </head>

    <body>
        <h1>Wishlist</h1>

        <div class="container">
            <div class="row">
              <% if (wishlist.length > 0) { %>
                <% include('../partials/classEntries/studentWaitlistEntry', { wishlist: wishlist }) %>
              <% } else { %>
                <p>You don't have any classes in your waitlist.</p>
              <% } %>
            </div>
        </div>
    </body>
</html>